:root {
	--shadow-dark:0 0 10px rgba(0,0,0,0.2);
	--shadow-darker:0 0 10px rgba(0,0,0,0.4);
	--font-family:"Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
}
html {
	font-family:var(--font-family);
}
body {
	background:rgb(20,20,20);
	color:rgb(255,255,255);
	margin:0;
	padding:0;
	overflow:hidden;
}
button, input, svg {
	border:none;
	outline:none;
	transition:background 0.25s, color 0.25s, fill 0.25s, transform 0.25s, opacity 0.25s;
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.hidden {
	display:none;
	visibility:hidden !important;
	position:absolute !important;
	z-index:-1 !important;
}
::-webkit-scrollbar {
	display:block;
	width:12px;
	background:none;
}
::-webkit-scrollbar-thumb {
	border-radius:4px;
	background:rgb(240,240,240);
}
::-webkit-scrollbar-thumb:hover {
	background:rgb(255,255,255);
}
::-webkit-scrollbar-track {
	background:none;
}

.titlebar {
	position:absolute;
	width:100%;
	height:36px;
	top:0;
	left:0;
	background:rgb(30,30,30);
	-webkit-app-region:drag;
}
.window-buttons {
	font-size:0;
	height:100%;
	display:inline-block;
	vertical-align:top;
}
.window-buttons button {
	display:inline-block;
	width:18px;
	height:18px;
	margin:9px 0 0 9px;
	padding:0;
	border-radius:50%;
	cursor:default;
	vertical-align:top;
	-webkit-app-region:no-drag;
	position:relative;
}
.window-buttons button:hover svg {
	opacity:1;
}
.window-buttons button.close-button {
	background:rgb(61,212,219);
}
.window-buttons button.minimize-button {
	background:rgb(80,125,182);
}
.window-buttons button.maximize-button {
	background:rgb(93,79,156);
}
.window-buttons button svg {
	fill:rgb(255,255,255);
	width:70%;
	height:70%;
	position:absolute;
	top:2px;
	left:15%;
	opacity:0;
}
.window-buttons button.maximize-button svg {
	width:60%;
	height:60%;
	top:3.2px;
	left:calc((100% - 60%) / 2);
}
.navigation-buttons {
	display:inline-block;
	vertical-align:top;
	height:100%;
	font-size:0;
	margin-left:40px;
}
.navigation-buttons button {
	display:inline-block;
	width:18px;
	height:18px;
	margin:9px 0 0 9px;
	border-radius:50%;
	padding:0;
	cursor:default;
	vertical-align:top;
	position:relative;
	-webkit-app-region:no-drag;
	background:rgb(100,100,100);
	pointer-events:none;
}
.navigation-buttons button.enabled {
	background:rgb(255,255,255);
	pointer-events:all;
}
.navigation-buttons button:hover {
	transform:scale(0.95);
}
.navigation-buttons button svg {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	fill:rgb(30,30,30);
}
.navigation-buttons .back-button svg {
	left:-1px;
}
.navigation-buttons .forward-button svg {
	left:1px;
}
.search-wrapper {
	position:absolute;
	top:0;
	right:10px;
	height:100%;
	-webkit-app-region:no-drag;
}
.search-wrapper input {
	height:14px;
	padding:4px;
	border-radius:4px;
	margin-top:7px;
	display:block;
	font-size:14px;
	font-family:var(--font-family);
	color:rgb(255,255,255);
	background:rgb(50,50,50);
}

.files-list {
	font-size:0;
	position:absolute;
	top:36px;
	left:0;
	height:calc(100% - 36px);
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.files-list::-webkit-scrollbar {
	display:block;
	width:4px;
	background:rgba(255,255,255);
}
.files-list::-webkit-scrollbar-thumb {
	border-radius:0;
	background:rgb(60,60,60);
}
.files-list::-webkit-scrollbar-thumb:hover {
	background:rgb(108, 91, 182);
}
.files-list::-webkit-scrollbar-track { 
	background:rgb(40,40,40);
}
.files-list-alert {
	display:block;
	padding:0;
	margin:0;
	height:40px;
	width:100%;
	top:calc(50% - 40px / 2);
	left:0;
	position:absolute;
	text-align:center;
}
.files-list-alert span {
	font-size:20px;
	font-weight:bold;
	display:inline-block;
	line-height:40px;
	padding:0 10px 0 10px;
	border-radius:10px;
	background:rgb(61,212,219);
	background:-moz-linear-gradient(90deg, rgb(61,212,219) 0%, rgb(69,169,199) 25%, rgb(80,125,182) 60%, rgb(93,79,156) 100%);
	background:-webkit-linear-gradient(90deg, rgb(61,212,219) 0%, rgb(69,169,199) 25%, rgb(80,125,182) 60%, rgb(93,79,156) 100%);
	background:linear-gradient(90deg, rgb(61,212,219) 0%, rgb(69,169,199) 25%, rgb(80,125,182) 60%, rgb(93,79,156) 100%);
}
.files-list-padding {
	display:block;
	width:100%;
	height:10px;
}
.file-wrapper {
	position:relative;
	display:inline-block;
	width:calc((100% / 5) - 20px - (20px / 5));
	margin:10px 0 10px 20px;
	font-size:18px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.file-wrapper:hover .folder-icon, .file-wrapper:hover .file-icon {
	transform:scale(0.95);
}
.file-wrapper.opened .file-background {
	transition:transform 2s;
	transform:scale(200);
	position:absolute;
	z-index:9999;
}
.file-container {
	width:128px;
	height:calc(128px + 2.1em + 5px);
	display:block;
	margin:0 auto 0 auto;
}
.file-container .top {
	display:block;
	width:128px;
	height:calc(100% - 2.1em);
	position:absolute;
	top:0;
	left:calc(50% - 128px / 2);
}
.file-container .bottom {
	display:block;
	width:90%;
	height:calc(2.1em + 5px);
	position:absolute;
	bottom:0;
	left:5%;
}
.folder-icon, .file-icon {
	position:absolute;
	transition:transform 0.25s;
	z-index:2;
	width:calc(40% + 2em);
	height:calc(40% + 2em);
	top:15%;
	left:13%;
	fill:rgb(255,255,255);
	stroke-width:2px;
	stroke:rgb(255,255,255);
}
.file-icon {
	fill:none;
	width:calc(40% + 1.9em);
	height:calc(40% + 1.9em);
	stroke-width:3px;
}
.file-background {
	position:relative;
	fill:url("#file-gradient");
	width:100%;
	height:100%;
	filter:drop-shadow(0px 2px 8px rgba(61,211,219,0.68)); 
	-webkit-filter:drop-shadow(0px 2px 8px rgba(61,211,219,0.68));
}
.file-wrapper span {
	font-family:"Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
	color:rgb(255,255,255);
	display:block;
	width:100%;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.file-wrapper .title {
	font-weight:bold;
	font-size:1em;
	margin:0 auto 5px auto;
}
.file-wrapper .subtitle {
	color:rgb(255,255,255);
	font-size:0.85em;
	min-height:1.5em;
	margin:0 auto 0 auto;
}