:root {
	--shadow-dark:0 0 10px rgba(0,0,0,0.2);
	--shadow-darker:0 0 10px rgba(0,0,0,0.4);
	--font-family:"Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
}
html {
	font-family:var(--font-family);
}
body {
	background:rgb(245,245,245);
	color:rgb(75,75,75);
	margin:0;
	padding:0;
	overflow:hidden;
}
button, input, svg {
	border:none;
	outline:none;
	transition:background 0.25s, color 0.25s, fill 0.25s;
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.hidden {
	display:none;
	visibility:hidden;
	position:absolute;
	z-index:-1;
}
::-webkit-scrollbar {
	display:block;
	width:12px;
	background:none;
}
::-webkit-scrollbar-thumb {
	border-radius:4px;
	background:var(--text-light);
}
::-webkit-scrollbar-thumb:hover {
	background:var(--text-darker);
}
::-webkit-scrollbar-track {
	background:none;
}

