:root {
	--shadow-dark:0 0 10px rgba(0,0,0,0.2);
	--shadow-darker:0 0 10px rgba(0,0,0,0.4);
	--font-family:"Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
}
html {
	font-family:var(--font-family);
}
body {
	background:rgb(20,20,20);
	color:rgb(255,255,255);
	margin:0;
	padding:0;
	overflow:hidden;
}
button, input, svg {
	border:none;
	outline:none;
	transition:background 0.25s, color 0.25s, fill 0.25s, transform 0.25s;
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.hidden {
	display:none;
	visibility:hidden;
	position:absolute;
	z-index:-1;
}
::-webkit-scrollbar {
	display:block;
	width:12px;
	background:none;
}
::-webkit-scrollbar-thumb {
	border-radius:4px;
	background:rgb(240,240,240);
}
::-webkit-scrollbar-thumb:hover {
	background:rgb(255,255,255);
}
::-webkit-scrollbar-track {
	background:none;
}

.titlebar {
	position:absolute;
	width:100%;
	height:30px;
	top:0;
	left:0;
	background:rgb(30,30,30);
}
.window-buttons {
	font-size:0;
}
.window-buttons button {
	display:inline-block;
	width:14px;
	height:14px;
	margin:8px 0 0 8px;
	border-radius:50%;
	cursor:default;;
}
.window-buttons button:hover {
	transform:scale(0.95);
}
.close-button {
	background:rgb(61,212,219);
}
.minimize-button {
	background:rgb(80,125,182);
}
.maximize-button {
	background:rgb(93,79,156);
}

.files-list {
	font-size:0;
	position:absolute;
	top:30px;
	left:0;
	height:calc(100% - 30px);
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.files-list::-webkit-scrollbar {
	display:block;
	width:4px;
	background:rgba(255,255,255);
}
.files-list::-webkit-scrollbar-thumb {
	border-radius:0;
	background:rgb(60,60,60);
}
.files-list::-webkit-scrollbar-thumb:hover {
	background:rgb(108, 91, 182);
}
.files-list::-webkit-scrollbar-track { 
	background:rgb(40,40,40);
}
.folder-wrapper {
	position:relative;
	display:inline-block;
	width:calc((100% / 5) - 20px - (20px / 5));
	margin:10px 0 10px 20px;
	font-size:18px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.folder-wrapper:hover .folder-icon, .folder-wrapper:hover .file-icon {
	transform:scale(0.95);
}
.folder-wrapper.opened .folder-background {
	transition:transform 2s;
	transform:scale(200);
	position:absolute;
	z-index:9999;
}
.folder-container {
	width:128px;
	height:calc(128px + 2.1em + 5px);
	display:block;
	margin:0 auto 0 auto;
}
.folder-container .top {
	display:block;
	width:128px;
	height:calc(100% - 2.1em);
	position:absolute;
	top:0;
	left:calc(50% - 128px / 2);
}
.folder-container .bottom {
	display:block;
	width:90%;
	height:calc(2.1em + 5px);
	position:absolute;
	bottom:0;
	left:5%;
}
.folder-icon, .file-icon {
	position:absolute;
	transition:transform 0.25s;
	z-index:2;
	width:calc(40% + 2em);
	height:calc(40% + 2em);
	top:15%;
	left:13%;
	fill:rgb(255,255,255);
	stroke-width:2px;
	stroke:rgb(255,255,255);
}
.file-icon {
	fill:none;
	width:calc(40% + 1.9em);
	height:calc(40% + 1.9em);
	stroke-width:3px;
}
.folder-background {
	position:relative;
	fill:url("#folder-gradient");
	width:100%;
	height:100%;
	filter:drop-shadow(0px 2px 8px rgba(61,211,219,0.68)); 
	-webkit-filter:drop-shadow(0px 2px 8px rgba(61,211,219,0.68));
}
.folder-wrapper span {
	font-family:"Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
	color:rgb(255,255,255);
	display:block;
	width:100%;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.folder-wrapper .title {
	font-weight:bold;
	font-size:1em;
	margin:0 auto 5px auto;
}
.folder-wrapper .subtitle {
	color:rgb(255,255,255);
	font-size:0.85em;
	min-height:1.5em;
	margin:0 auto 0 auto;
}