<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/resize.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<script src="../assets/js/svg.js"></script>
		<script src="../assets/js/main.js"></script>
		<meta charset="UTF-8">
		<title>X:/Plorer</title>
	</head>
	<body>
		<div class="titlebar">
			<div class="window-buttons">
				<button class="close-button"></button>
				<button class="minimize-button"></button>
				<button class="maximize-button"></button>
			</div>
			<div class="navigation-buttons">
				<button class="back-button"></button>
				<button class="forward-button"></button>
			</div>
		</div>
		<div class="files-list"></div>
	</body>
</html>