<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/resize.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<script src="../assets/js/svg.js"></script>
		<script src="../assets/js/main.js"></script>
		<meta charset="UTF-8">
		<title>X:/Plorer</title>
	</head>
	<body>
		<div class="titlebar">
			<div class="window-buttons">
				<button class="close-button"></button>
				<button class="minimize-button"></button>
				<button class="maximize-button"></button>
			</div>
			<div class="navigation-buttons">
				<button class="back-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"/></svg></button>
				<button class="forward-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/></svg></button>
			</div>
		</div>
		<div class="files-list"></div>
	</body>
</html>